<div class="row">
    <div class="col-md-8 d-sm-none d-none d-md-block">
    <div class="table-responsive border">
        <legend class="text-center bg-info-subtle">Conversor de divisas</legend>
        <table class="table bg-light">
            <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">USD</th>
                  <th scope="col">EUR</th>
                  <th scope="col">GBP</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th scope="row">
                    <p>1  USD</p>
                    <p>Inverse</p>
                </th>
                  <td>
                    <p>1.000000</p>
                    <p>1.000000</p>
                  </td>
                  <td>
                    <p>0.919901</p>
                    <p>1.087074</p>
                  </td>
                  <td>
                    <p>0.919901</p>
                    <p>1.087074</p>
                  </td>
                  
                </tr>
                <tr>
                  <th scope="row">
                    <p>1  EUR</p>
                    <p>Inverse</p>
                  </th>
                  <td>
                    <p>1.087074</p>
                    <p>0.919901</p>
                  </td>
                  <td>
                    <p>1.000000</p>
                    <p>1.000000</p>
                  </td>
                  <td>
                    <p>0.811469</p>
                    <p>1.232332</p>
                  </td>
                </tr>
                <tr>
                  <th scope="row">
                    <p>1  GBP</p>
                    <p>Inverse</p>
                  </th>
                  <td>
                    <p>1.232332</p>
                    <p>0.811469</p>
                  </td>
                  <td>
                    <p>1.133623</p>
                    <p>0.882127</p>
                  </td>
                  <td>
                    <p>134.2108</p>
                    <p>0.007451</p>
                  </td>
                </tr>
              </tbody>



        </table>
      </div>
    </div>

<div class="col-md-4 col-sm-12 ">

    <form class="card bg-success-subtle">
        <legend class="text-center">Conversor de Divisas</legend>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Cantidad</label>
          <input type="number" [(ngModel)]="valor" name="myImput">
    
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">De</label>
    
            <div class="mb-3">
              
                <select [(ngModel)]="primero" name="primero">
                  <option value="EUR">EUR</option>
                  <option value="USD">USD</option>
                  <option value="GBP">GBP</option>
                  <option value="ARS">ARS</option>
                </select>
              
          </div>

        </div>
        <div class="mb-3 ">
         
            <label for="exampleInputPassword1" class="form-label">A</label>
          

            <div class="mb-3">
              <select [(ngModel)]="segundo" name="segundo">
                <option value="KWD">KWD</option>
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="ARS">ARS</option>
              </select>
              
          </div>
          <label>Resultado</label>
          <input type="text" name="nombredelacaja" placeholder="{{resultado}}" >
          
        </div >
        <div class="d-grid gap-2">
            <button (click)="obtenerConversion(primero,segundo,valor)" class="btn btn-warning btn-lg ">Convertir  -></button>
        </div>
       
      </form>

      <h3>Lo de guardar la transaccion no funciona, lo demas si</h3>

<button (click)="obtenerTransacciones()" class="btn btn-success">Obtener transacciones</button>
</div>


<div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Origen</label>
    <input type="text" [(ngModel)]="origen" name="myImput">
    
        <label for="exampleInputEmail1" class="form-label">Destino</label>
        <input type="text" [(ngModel)]="destino" name="myIput">
  <button class="btn btn-success" (click)="porFiltro()">Obtener</button>
  </div>


  <div>
    <table class="table">
        <thead>
          <tr>
            <th>Moneda Origen</th>
            <th>Cantidad Origen</th>
            <th>Moneda Destino</th>
            <th>Cantidad Destino</th>
            <th>Email Cliente</th>
            <th>Tasa de Conversión</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of filtro">
            <td>{{ t.monedaOrigen }}</td>
            <td>{{ t.cantidadOrigen }}</td>
            <td>{{ t.monedaDestino }}</td>
            <td>{{ t.cantidadDestino }}</td>
            <td>{{ t.emailCliente }}</td>
            <td>{{ t.tasaConversion }}</td>
          </tr>
        </tbody>
      </table>
    
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Moneda Origen</th>
        <th>Cantidad Origen</th>
        <th>Moneda Destino</th>
        <th>Cantidad Destino</th>
        <th>Email Cliente</th>
        <th>Tasa de Conversión</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transaccion of transacciones">
        <td>{{ transaccion.monedaOrigen }}</td>
        <td>{{ transaccion.cantidadOrigen }}</td>
        <td>{{ transaccion.monedaDestino }}</td>
        <td>{{ transaccion.cantidadDestino }}</td>
        <td>{{ transaccion.emailCliente }}</td>
        <td>{{ transaccion.tasaConversion }}</td>
      </tr>
    </tbody>
  </table>


