<div class="card">
    <div class="card-header">
     Agregar un producto
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="idnombre" class="form-label">Nombre</label>
                <input name="nombre" type="text" class="form-control" id="idnombre" [(ngModel)]="producto.nombre"
                     >
              </div>
              <div class="mb-3">
                <label for="iddesc" class="form-label">Descripcion</label>
                <textarea name="desc" class="form-control" id="desc" rows="3" [(ngModel)]="producto.descripcion"
                    ></textarea>
              </div>
              <div class="mb-3">
                <label for="idprecio" class="form-label">Precio</label>
                <input name="precio" type="number" class="form-control" id="precio" [(ngModel)]="producto.precio"
                    >
              </div>
              <div class="mb-3">
                <label for="idresponsable" class="form-label">Stock</label>
                <input name="em" type="number" class="form-control" id="il" [(ngModel)]="producto.stock"> 
                 
              </div>

              <div class="mb-3">
                <label for="idimg" class="form-label">Imagen</label>
                <input name="em" type="text" class="form-control" id="ideil" [(ngModel)]="producto.imagen"> 
                 
              </div>

             

              <button type="button" class="btn btn-primary" (click)="guardarProducto()">Guardar</button>              
                            

        </form>
    </div>
</div>
