<br>
<h3 class="text-center">Lista de Tikets</h3>
  <table class="table bg-light">
    <thead class="bg-success-subtle">
      <tr>
        <th scope="col">Precio ticket</th>
        <th scope="col">Fecha de Compra</th>
        <th scope="col">Categoria</th>
        <th scope="col">Espectador</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <th scope="row">${{ticket.precioTicket}}</th>
        <td>{{ticket.fechaCompra}}</td>
        <td *ngIf="ticket.categoriaEspectador == 'l'">Local</td>
        <td *ngIf="ticket.categoriaEspectador == 'e'">Espectador</td>
        <td>{{ticket.espectador.nombre}} {{ticket.espectador.apellido}}</td>
        <td><button type="submit" (click)="modificarTicket(ticket._id)" class="btn btn-success">Modificar</button>
        <button type="submit" (click)="eliminarTicket(ticket._id)" class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>
  <button type="submit" (click)="agregarTicket()" class="btn btn-primary">Agregar</button>

<br>
<br>
<h3 class="text-center">Solo locales</h3>
  <table class="table bg-light">
    <thead class="bg-success-subtle">
      <tr>
        <th scope="col">Precio ticket</th>
        <th scope="col">Fecha de Compra</th>
        <th scope="col">Categoria</th>
        <th scope="col">Espectador</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of filtro">
        <th scope="row">${{ticket.precioTicket}}</th>
        <td>{{ticket.fechaCompra}}</td>
        <td *ngIf="ticket.categoriaEspectador == 'l'">Local</td>
        <td *ngIf="ticket.categoriaEspectador == 'e'">Espectador</td>
        <td>{{ticket.espectador.nombre}} {{ticket.espectador.apellido}}</td>
        <td><button type="submit" (click)="modificarTicket(ticket._id)" class="btn btn-success">Modificar</button>
        <button type="submit" (click)="eliminarTicket(ticket._id)" class="btn btn-danger">Eliminar</button></td>
      </tr>
    </tbody>
  </table>